html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
}

body {
	background-image:
		linear-gradient(105deg, #eb01a5, #d13531);
	background-repeat: repeat;
	background-size: auto;
	display: flex;
}

.page-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	grid-template-areas:
					"h h h"
					"m m s"
					"m m s";
	padding: 3em;
}

.intro {
	background-color: gold;
	grid-area: h;
	padding: 2rem;
	border-radius: 15px;
}

.main {
	background-color: orangered;
	grid-area: m;
	padding: 2rem;
	border-radius: 15px;
}

.sidebar {
	background-color: lightgreen;
	grid-area: s;
	padding: 2rem;
	border-radius: 15px;
}

.preamble {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	grid-template-areas:
						"t t t"
						"l w c";
}

.preamble h3:first-child {
	grid-area: t;
	background-color: beige;
	padding: 1rem;
	border-radius: 15px;
}

.preamble p:nth-child(2) {
	grid-area: l;
	background-color: red;
	padding: 1rem;
	border-radius: 15px;
}

.preamble p:nth-child(3) {
	grid-area: w;
	background-color: green;
	padding: 1rem;
	border-radius: 15px;
}

.preamble p:nth-child(4) {
	grid-area: c;
	background-color: cornflowerblue;
	padding: 1rem;
	border-radius: 15px;
}

.explanation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
						"e e"
						"x y";
	gap: 1rem;
}

.explanation h3:first-child {
	grid-area: e;
	background-color: beige;
	padding: 1rem;
	border-radius: 15px;
}

.explanation p:nth-child(2) {
	grid-area: x;
	background-color: goldenrod;
	padding: 1rem;
	border-radius: 15px;
}

.explanation p:nth-child(3) {
	grid-area: y;
	background-color: cornflowerblue;
	padding: 1rem;
	border-radius: 15px;
}

footer {
	display: flex;
	justify-content: space-evenly;
}


@media screen and (max-width: 800px) {
	.page-wrapper {
		grid-template-areas:
							"h h h"
							"m m m"
							"s s s";
	}
}




